.search {
    @apply grid grid-cols-12 h-[200px] transition-shadow dark:text-white;
  }
.search h1{
  @apply flex justify-center items-center col-span-12 text-[20px]
}
.destination{
  @apply flex justify-center items-center col-span-12;
}
  .bg-image {
    position: absolute;
    left: 0;
    width: 100%;
    height: 75%;
    background-image: url('../../../Assets/images/bus-background.jpg');
    background-size: 100%;
    z-index: -1; /* برای قرارگیری زیر المان‌های دیگر */
  }

  .bg-image {
    @apply top-1/4;
  }
.city-list {
  position: absolute;
  color: black;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  list-style: none;
  z-index: 1;
  margin-top: 50px;
}
.city-list li {
  position: relative;
  top: 100%;
  z-index: 10;

  display: flex;
  justify-content: center;
  padding: 2px;
  width: 200px;
  cursor: pointer;
}

.city-list li:hover {
  background-color: #000000;
  color: white;
}
